.quienesSomos {
    h1 {
      font-size: 30px;
      padding: 30px;
      text-align: center;
    }
  
    p {
      font-size: 26px;
      text-indent: 100px;
      text-align: center;
    }
  }
  
  .quienesSomosLogo {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 40px;
    margin-left: 700px;
  }